.aboutcustom a {
    color: #cea352 !important;
  }
  .customhome a {
    color: #4a4a4a !important;
  }
  .wrapper {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px ;
}
.custom-post-default a{
  color: #CEA352 !important;
  background-color: #FAFAFA;
}
.container {
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.container h4 {
    font-size: 40px;
    text-transform: uppercase;
}
.entry-summary{
  display: flex;
  flex-direction: column;
  width: 1170px;
  font-size: 14px;
  font-family: PT Serif, Serif, sans-serif;
  color: #636363;
  line-height: 1.8;
}
.entry-summary p {
  margin-bottom: 30px;
}
.entry-summary h4{
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: #353535;
  font-weight: 600;
  margin-bottom: 20px;
 }